.search-container {
  display: flex;
  padding: 0rem 0.5rem;
  align-items: center;
  align-self: stretch;
  border-radius: 0.3125rem;
  border: 1px solid #fbe5dc;
  background: rgba(251, 229, 220, 0.5);
  width: 100%;
}

.search-container:focus {
  border-color: #d77676;
  outline: none;
  caret-color: #d77676;
}

.search-filter {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
  flex-direction: row;
  width: 100%;
}

.search-filter input {
  color: #8e6969;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: -0.03375rem;
}

.search-filter input::placeholder {
  color: #c5adab;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: -0.03375rem;
}

@media screen and (max-width: 767px) {
  .search-filter input::placeholder, .search-filter input {
    line-height: normal;
    font-size: 0.875rem;
    letter-spacing: -0.02625rem;
  }
}
