h1, p{
    margin: 0;
    padding: 0;
}

.home-container{
    display: flex;
    padding: 2.5rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

