.filled-button {
  display: flex;
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.3125rem;
  background: #d77676;
  transition: ease 0.3s;
  border: none;
  margin: 0;
  text-align: center;
  font: inherit;
}

.filled-button:disabled {
    background: lightgray;
}

.filled-button p {
  color: #fff;
}

.outline-button {
  display: flex;
  padding: 0.25rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.3125rem;
  border: 1px solid #d77676;
  background: #fbf1f1;
  transition: ease 0.3s;
  margin: 0;
  text-align: inherit;
  font: inherit;
}

.outline-button p {
  color: #d77676;
}

.stretched{
  padding: 0.25rem 0rem;
  align-self: stretch;
}

@media screen and (min-width: 1024px) {
  .outline-button:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  .filled-button:hover:enabled {
    background: #fe8181;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .filled-button p {
    font-size: 0.875rem;
  }

  .filled-button {
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
  }

  .stretched {
    padding: 0.5rem 0.5rem;
  }
}
